.bar {
  width: 652px;
  margin: 0 auto;
  position: relative;
}

.url {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  width: 600px;
  padding: 25px;
  color: #999;
  border-radius: 4px;
  border: 1px solid var(--stroke-primary);
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  &:focus {
    border: 1px solid var(--stroke-emphasis);
  }

  &::placeholder {
    color: #ddd;
  }
}

.clear-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 64px;
  background-image: url("./close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  cursor: pointer;
  transition: opacity 200ms cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 0;
  pointer-events: none;

  &.visible {
    opacity: 0.3;
    pointer-events: inherit;
  }

  &:hover {
    opacity: 0.6;
  }
}
