@import "lib/global";

.about {
    width: 800px;
    margin: 0 auto;

    a {
        color: #09f;
        text-decoration: none;

        &:hover {
            opacity: 0.6;
        }
    }

    .full-url {
        color: #ddd;
        text-shadow: 1px 1px 0 #fff;
    }

    p {
      font-size: 24px;
    }
}

.about h1 {
    color: #333;
    margin-bottom: 40px;
}

.about ul {
    padding: 0;
    list-style-type: none;
}

.about ul li {
    margin-bottom: 20px;
}
