@import "lib/global";

.links {
    width: 65%;
    margin: 0 auto;
    overflow: hidden;

    a {
        color: #03a9f4;
        text-decoration: none;

        &:hover {
            opacity: 0.6;
        }
    }

    .full-url {
        font-size: 16px;
        color: #ddd;
    }
}

.links h1 {
    color: #0199ff;
    margin-bottom: 40px;

    &:hover {
        opacity: 0.6;
    }
}

.links ul {
    padding: 0;
    list-style-type: none;
}

.links ul li {
    margin-bottom: 20px;
}

div.hits {
    color: #9e9e9e;

    &:hover {
        opacity: 0.6;
    }
}